@model IEnumerable<CommentViewModel>

@foreach (var comment in Model)
{
    <div class="d-flex">
        <div class="flex-column">
            <div>
                <a class="link-grey link-green-hover" href="#">
                    <i class="fas fa-arrow-up fa-lg"></i>
                </a>
            </div>
            <div>
                &nbsp;@comment.VotesCount
            </div>
            <div>
                <a class="link-grey link-red-hover" href="#">
                    <i class="fas fa-arrow-down fa-lg"></i>
                </a>
            </div>
        </div>
        &nbsp;
        <div class="flex-column flex-grow-1">
            <div class="d-flex flex-row">
                <a class="link-blue" asp-area="Identity" asp-controller="User" asp-action="Index" asp-route-userId="@comment.Author">
                    @comment.Author
                </a>

                <div class="ml-auto">
                    @comment.PostDate.ToShortDateString()
                    @comment.PostDate.ToShortTimeString()
                </div>
            </div>

            <hr class="hr-no-bottom-margin hr-no-top-margin" />

            <div>
                @comment.Description
            </div>

            <button class="btn btn-grey btn-reply" type="button">
                <i class="fas fa-comment"></i>
                Reply
            </button>
            <button class="btn btn-outline-green btn-menu btn-reply-post" type="button" hidden>Post</button>
            <button class="btn btn-outline-red btn-menu btn-reply-cancel" type="button" hidden>Cancel</button>

            <div class="d-flex flex-row flex-grow-1">
                <form hidden class="flex-grow-1 form-reply" method="post" asp-area="Identity" asp-controller="Comment" asp-action="AddToComment">
                    <input name="SourceId" value="@comment.Id" hidden />
                    <input name="PostId" value="@comment.PostId" hidden />
                    <textarea class="form-control form-outline-green" rows="3" name="Description"></textarea>
                    <button class="btn-reply-submit" type="submit" hidden></button>
                </form>
            </div>
        </div>
    </div>
    <div class="reply-container">
        <partial name="_CommentsWithRepliesPartial" model="comment.Replies" />
    </div>
}