@model IEnumerable<PostConciseViewModel>
@foreach (var postModel in Model)
{
    <div class="container grey-outline-container blue-outline-onhover-container d-flex flex-row">
        <div class="flex-column">
            <partial name="_VotePostPartial" model="postModel" />
        </div>
        &nbsp;
        <div class="flex-column flex-grow-1 min-width-0">
            <div class="flex-row">
                <a class="link-grey" asp-controller="Post" asp-action="Index" asp-route-postId="@postModel.Id">@postModel.Title</a>
                at
                <a class="link-black" asp-controller="Subreddit" asp-action="Index" asp-route-subredditId="@postModel.SubredditId">
                    r/@postModel.SubredditName
                </a>
                posted by
                <a class="link-grey" asp-area="Identity" asp-controller="User" asp-action="Index" asp-route-userId="@postModel.AuthorId">
                    @postModel.AuthorUsername
                </a>
            </div>
            <div class="flex-row">
                <hr />
            </div>
            <div class="flex-row">
                @postModel.DescriptionConcise
            </div>

            <div class="flex-row">
                <i class="fas fa-comment link-grey"></i>
                @postModel.CommentsCount
                Comments
            </div>
        </div>
    </div>
}